.photo-grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(272px, 1fr));
  margin: 0 48px 0;
  grid-gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid {
    margin: 0 48px 0;
    grid-gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    margin: 0 24px 0;
    grid-gap: 16px;
  }
}
@media (max-width: 455px) {
  .photo-grid {
    margin: 0 16px 0;
  }
}
@media (max-width: 320px) {
  .photo-grid {
    grid-gap: 12px;
  }
}
