.cover__subtitle {
  margin: 32px 0 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
  width: 30%;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .cover__subtitle {
    width: 47%;
  }
}

@media (max-width: 480px) {
  .cover__subtitle {
    margin: 16px 0 0;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }
}
