.cover {
  margin: 0 auto 92px;
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (max-width: 1024px) {
  .cover {
    margin: 0 0 92px;
  }
}

@media (max-width: 768px) {
  .cover {
    margin: 0 0 88px;
  }
}

@media (max-width: 320px) {
  .cover {
    margin: 0 0 64px;
  }
}

