.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
@media (min-width: 320px) {
    .cover {
        margin: 66px 0 64px;
    }
}
@media (min-width: 768px) {
    .cover {
        margin: 90px 0 88px;
    }
}
@media (min-width: 1024px) {
    .cover {
        margin: 92px 0 92px;
    }
}
@media (min-width: 1280px) {
    .cover {
        margin: 93px 48px 92px;
    }
}